#match {
  max-width: 75%;
  display: flex;
  background-color: #292146;
  margin: 1em;
}
#match > * {
  margin: 5px;
}
#champAndSumms {
  display: flex;
  justify-content: center;
  align-items: center;
}
#items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}
#items img {
  margin-left: 8px;
}
#items div {
  margin-left: 8px;
}
.summonerSpell {
  max-width: 40px;
  max-height: 40px;
}
#stats {
  width: 15%;
  text-align: center;
}
#mainCharacterPortrait {
  border-radius: 25px;
  max-width: 96px;
  max-height: 96px;
}
#keystoneMain {
  max-width: 32px;
  max-height: 32px;
  display: block;
}
#runesMain {
  display: block;
}
#runesSub {
  display: block;
  margin-top: 32px;
}
#Runes {
  display: inline-flex;
  width: 5%;
}
#kda {
  text-align: center;
}
#generalMatchInfo {
  text-align: center;
  width: 15%;
}
.item {
  max-width: 48px;
  max-height: 48px;
  background-color: #191035;
  min-width: 48px;
  height: 48px;
}
