@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway&display=swap");
body {
  background-color: rgb(12, 7, 27);
  color: rgb(149, 142, 238);
  font-family: "Poppins";
}
#homeSearch {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  width: 30%;
}
#formSearch {
  padding: 10px;
  justify-content: space-between;
  display: flex;
  height: 2em;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(10, 6, 24);
  border-radius: 5px;
  filter: drop-shadow(6px 6px 3px rgba(255, 255, 255, 0.3));
}
#formSearch:focus {
  outline-width: 0;
}
button {
  background-color: transparent;
  color: rgb(173, 203, 241);
  border: none;
  font-size: large;
}
button:hover {
  cursor: pointer;
}
#searchBar {
  width: 100%;
  background-color: rgb(12, 7, 27);
  border: none;
  color: rgb(173, 203, 241);
  font-size: large;
  margin-left: 1em;
}
#searchBar:focus {
  border: none;
}
#searchBar:auto-fill {
  background-color: aquamarine;
}
#regionSelector {
  border: none;
  background-color: rgb(0, 119, 255);
  text-align: center;
  outline: none;
  width: 4em;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: medium;
}
select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}
#regionKr {
  background-color: green;
  height: 2em;
}
*:focus {
  outline: none;
}
#regionOptions {
  visibility: hidden;
  margin: 1em;
}
#regionOptions button {
  margin-right: 1em;
  background-color: rgb(45, 32, 77);
  color: white;
  font-weight: 600;
  font-size: smaller;
  width: 4em;
  height: 1.5em;
}
#regionOptions button:hover {
  border: none;
}
#euneButton:hover {
  background-color: rgb(0, 119, 255);
}
#euwButton:hover {
  background-color: rgb(9, 12, 218);
}
#naButton:hover {
  background-color: rgb(175, 42, 86);
}
#krButton:hover {
  background-color: rgb(218, 9, 9);
}
