#main {
  background-color: rgb(17, 11, 36);
  margin: auto;
  width: 80%;

  padding: 10px;
}
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #673992;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
#firstBox {
  display: flex;
  background-color: rgb(25, 16, 56);
  justify-content: space-around;
}
#summonerIconAndLevelBox {
  margin: 1em;
  max-width: 100px;
}
#summonerIcon {
  width: 100px;
  z-index: -1;
  border-style: solid;
  filter: drop-shadow(6px 6px 3px rgba(123, 92, 235, 0.3));
}
#summonerLevel {
  font-size: medium;
  text-align: center;
  margin: 0;
}
#summonerName {
  margin-left: 1em;
  font-size: x-large;
  width: 13%;
}
#soloq img {
  max-width: 15em;
  margin: 0;
}
#soloq {
  margin: auto;
  text-align: center;
  font-size: small;
  display: inline-flex;
}
#flexq {
  margin: auto;
  text-align: center;
  font-size: small;
}
#flexq img {
  max-width: 8em;
  margin: 0;
}
#soloqLabels {
  top: 50%;
}

#soloq h2 {
  color: rgb(110, 102, 233);
}
#flexq h2 {
  color: rgb(193, 101, 236);
}
#soloqLabels {
  margin: 1em;
}
#queueType {
  color: rgb(110, 102, 233);
}
#matchHistory {
  background-color: rgb(51, 45, 122);
  margin: auto;
  width: 80%;
  padding: 10px;
}
